{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<h1>About Us</h1>
<div class="left-align">
    <p>Hi, I'm <span class="xpt-text">Vedesh Pandya</span>, a dedicated computer science student currently navigating the exciting world of technology at College. The journey of creating <span class="xpt-text">xptracker</span> stems from my deep belief in the <span class="imp-text">importance of financial management and awareness.</span></p>
    <p>As a student, I've encountered the challenges of managing expenses effectively. This inspired me to develop <span class="xpt-text">xptracker</span>, an app designed to help individuals keep track of their finances in a simple and efficient way. I believe that understanding and managing our finances is crucial for <span class="imp-text">achieving our goals and securing our future.</span></p>
    <p><span class="xpt-text">xptracker</span> is built with the user in mind, offering features that simplify expense tracking and promote better financial habits. Whether you're a student, a professional, or anyone looking to take control of your finances, <span class="xpt-text">xptracker</span> is here to support you on your journey towards <span class="imp-text">financial well-being.</span></p>
    <p>I believe in the power of continuous improvement and learning. Just as I strive to enhance my skills and knowledge, I hope <span class="xpt-text">xptracker</span> will help you improve your financial management, one step at a time.</p>
    <p>Through <span class="xpt-text">xptracker</span>, I aim to create a tool that not only tracks expenses but also encourages better financial decisions. Let's embark on this journey together, making informed choices and building a secure financial future.</p>
    <p>Thank you for choosing <span class="xpt-text">xptracker</span> and being a part of this financial empowerment journey.</p>
    <p>Warm regards,</p>
    <p>Vedesh Pandya</p>
</div>
{% endblock %}