{% extends "layout.html" %}

{% block title %}
    Add Earning
{% endblock %}

{% block main %}
<h2 class="mb-4">Add Earnings</h2>
        <form method="post" action="/add-earning">
            <div class="form-group">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
            </div>
            <div class="form-group">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter a description">
            </div>
            <div class="form-group">
                <label for="source" class="form-label">Source</label>
                <input type="text" class="form-control" id="source" name="source" placeholder="Enter the source of earnings">
            </div>
            <button type="submit" class="btn btn-primary">Add Earning</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}